In [66]:
import pandas as pd
from sklearn import linear_model

In [67]:
df= pd.read_csv("houseprisings.csv")

In [68]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   ocean_proximity     20640 non-null  object
 9   median_house_value  20640 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

In [70]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
ocean_proximity         0
median_house_value      0
dtype: int64

In [71]:
X=df.drop('median_house_value',axis=1)
y=df['median_house_value']

In [72]:
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY

In [73]:
y.head()

0    452600
1    358500
2    352100
3    341300
4    342200
Name: median_house_value, dtype: int64

In [74]:
X['total_bedrooms']=X['total_bedrooms'].fillna(X['total_bedrooms'].mean())

In [75]:
X.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
ocean_proximity       0
dtype: int64

In [76]:
X['ocean_proximity'].value_counts()
X=pd.get_dummies(data=X)
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41,880,129.0,322,126,8.3252,False,False,False,True,False
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,False,False,False,True,False
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,False,False,False,True,False
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,False,False,False,True,False
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,False,False,False,True,False

In [77]:
from sklearn.model_selection import  train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4,random_state=50)
print(X.shape,X_train.shape,X_test.shape)

(20640, 13) (12384, 13) (8256, 13)

In [78]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [79]:
model=linear_model.LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [80]:
y_pred=model.predict(X_test)
y_pred

array([-4.15832977e+14,  2.88620041e+15, -4.15832977e+14, ...,
        2.88620041e+15, -4.15832977e+14, -4.15832977e+14])

In [81]:
y_test

1945     196300
18006    275000
13062    127500
13396    158900
9787      87500
          ...
20244    219000
3854     210000
10252    184600
6683     321100
1090      66300
Name: median_house_value, Length: 8256, dtype: int64

In [82]:
model.score(X_test,y_test)

-7.187941198383732e+20

In [83]:
from sklearn import metrics
metrics.r2_score(y_test,y_pred)

-7.187941198383732e+20

In [84]:
model.score(X_train,y_train)

0.6460488965993844